.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nav-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 615px;
    padding-left: 30px;
}

.head-logo {
    position: absolute;
    top: 0px;
    left: 270px;
    width: 35px;
    margin: 18px;
    z-index: 1001; 
}

.head-razor-logo {
    z-index: 888;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    color: var(--clr-white);
    margin: 0;
    gap: 20px;
    flex-grow: 1;
    flex-wrap: wrap;
}

.nav-item > a {
    color: var(--clr-gray);
}

.nav-item > a:hover {
    text-decoration: none;
    color: var(--clr-white);
}

.nav-item {
    margin: 0;
}

.nav-link {
    display: flex;
    flex-direction: row;
    font-family: var(--font-family-titillium);
    font-weight: var(--font-light);
}

.nav-item-icon {
    width: 20px;
    filter: invert(0.5);
    margin-top: 4px;
}

.nav-link > img:hover {
    
    filter: invert(0.7); 
}

.header-bottom-horizontal-border {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    background-color: var(--clr-green);
    height: 3px;
}

